<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="src/assets/images/affiche.jpeg" alt="affiche du camp">
      </div>
      <div class="card-content center orange-text">
        <p>Bienvenue, Welcome, Bienvenido,أهلا بك,herzlich willkommen,bem vinda, boyeyi bolamu</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section" id="apps">
    <div class="card">
      <div class="card-action orange flow-text">Nous sommes heureux de vous recevoir ici! Vous trouverez sur ce site les principale information à propos du camp! ci dessous le programme:</div>
      <div class="card-content center orange-text">
        <div class="card-image">
          <img class="responsive-img" src="src/assets/images/programme.jpeg" alt="affiche du camp">
        </div>
      </div>
    </div>
  </div>
  <br/>
  <app-participant-list></app-participant-list>
  <br/>
</div>
