<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="card rounded-0" >
          <img class="card-img-top mx-auto d-block rounded-0" src="assets/images/affiche.jpeg" alt="affiche">

          <div class="card-body rounded-0">
            <p>Bienvenue, Welcome, Bienvenido,أهلا بك,herzlich willkommen,bem vinda, boyeyi bolamu</p>
          </div>
     </div>
  </div>

  <div class="container">
      <div class="card rounded-0">
        <div class="card-body rounded-0">
              <p class="card-text">Nous sommes heureux de vous recevoir ici! Vous trouverez sur ce site les principale information à propos du camp! ci dessous le programme:</p>
        </div>
        <img class="card-img-bottom mx-auto d-block rounded-0" src="assets/images/programme.jpeg" alt="programme">
      </div>
  </div>
</div>

<div class="container">
  <app-participant-list></app-participant-list>
</div>
