<nav class="deep-orange">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img class="responsive-img" src="assets/images/logo.png" style="width:5vw; margin: .5vw; border: white solid 2px;" alt="affiche du camp">

    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/inscription">Inscription</a></li>
      <li><a routerLink="/evaluation">Evaluation Camp</a></li>
      <li><a routerLink="/apropos">à Propos</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/">Accueil</a></li>
  <li><a routerLink="/inscription">Inscription</a></li>
  <li><a routerLink="/evaluation">Evaluation Camp</a></li>
  <li><a routerLink="/apropos">à Propos</a></li>
</ul>
