<!-- Main Nav -->
<nav class="main-nav">
  <div class="nav-wrapper row">
    <ul class="col s10 m6 left">
      <li>
        <a id="btn-toggle-own-sidenav" class="btn-floating white waves-effect waves-dark">
          <i class="material-icons">menu</i>
        </a>
      </li>
      <li class="gray-text text-darken-3">Dashboard</li>
    </ul><!-- / .col -->

    <ul class="col s2 m6 right">
      <!-- Account -->
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="javascript:void(0)"
           data-target='dropdown1'
           data-beloworigin="true"
        >
          <i class="material-icons">person</i>
        </a>
        <ul id="dropdown1" class="dropdown-account dropdown-content">
          <li>
            <a href="javascript:void(0)">
              <i class="material-icons">person</i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="material-icons">settings</i>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="material-icons">power_settings_new</i>
              <span>Logout</span>
            </a>
          </li>
          <div class="clearfix"></div>
        </ul>
      </li>

    </ul><!-- / .col -->
  </div><!-- / .row -->
</nav>
