<footer class="page-footer deep-orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">GBUM APP</h5>
        <p class="grey-text text-lighten-4">Projet réalisé avec Joie et Amour par les Gbussiens de Safi!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens Utiles</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3"
               href="https://www.facebook.com/gbum"
               title="Groupe Facebook du GBUM">
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright GBUM
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
