<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12">
        <h5>GBUM APP</h5>
        <p class="grey-text text-lighten-4">Projet réalisé avec Joie et Amour par les Gbussiens de Safi!</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5 class="white-text">Liens Utiles</h5>
            <a  href="https://www.facebook.com/gbum" title="Groupe Facebook du GBUM">
              Facebook
            </a>
      </div>
    </div>
    <div class="row">
      <div>
        <div class="container">
          © 2018 Copyright GBUM
          <a href="#!">More Links</a>
        </div>
      </div>
    </div>
  </div>

</footer>